#goog-gt-tt {
  display: none;
}
* {
  text-transform: none;
  list-style: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  // font-family: 'Montserrat Alternates', sans-serif;;
  // font-family: 'Antic Slab', serif;
// font-family: 'Montserrat Alternates', sans-serif;
// font-family: 'Poppins', sans-serif;
}

//header top

i {
  font-size: 15px;
  color: black;
}

.header {
  // .header__top

  &__top {
    padding: 10px 0;
    background-color: #f5f5f5;
  }
}
.container {
  width: 85%;
  margin: 0 auto;
  display: flex;
  // gap: 415px;
  justify-content: space-between;

  // .container__right

  &__right {
    display: flex;
    column-gap: 40px;

    .links {
      display: flex;
      gap: 10px;
      a {
        position: relative;

        &:last-of-type {
          &::after {
            content: "";
            width: 1px;
            height: 100%;
            background-color: #44a52e;
            position: absolute;
            top: 0;
            right: -20px;
          }
        }
      }
    }
  }
}
.contaimer {
  // .contaimer__lef

  &__lef {
    ul {
      display: flex;
      column-gap: 20px;

      li {
        position: relative;
        font-size: 14px;
        &::after {
          content: "";
          width: 1px;
          height: 100%;
          background-color: #12c247;
          position: absolute;
          top: 0;
          right: -10px;
        }
        &:last-of-type {
          &::after {
            display: none;
          }
        }
      }
    }
  }
}
.header__top--photo {
  span {
    position: relative;
    &::after {
      content: "";
      width: 1px;
      height: 100%;
      background-color: #12c247;
      position: absolute;
      top: 0;
      right: -20px;
    }
  }
  &:hover {
    ul {
      visibility: visible;
      transform: scaleY(1);
      opacity: 1;
    }
  }
  position: relative;
  display: flex;
  align-items: center;
  gap: 3px;

  img {
    width: 18px;
    height: 12px;
  }
  ul {
    position: absolute;
    top: 130%;
    left: 0;
    transition: 0.4s;
    width: 100%;
    background-color: #f5f5f5;
    visibility: hidden;
    transform: scaleY(0);
    opacity: 0;
    transform-origin: top;
    z-index: 2;
    li {
      padding: 5px 10px;
      &:hover {
        cursor: pointer;
        background-color: rgb(28, 178, 163);
      }
    }
  }
}

.header {
  // .header__button

  &__button {
    i {
      font-size: 17px;
    }
    padding: 15px 0;
    width: 85%;
    margin: 0 auto;
  }
}

.buttom--container {
  display: flex;
// gap: 100px;
justify-content: space-between;
  align-items: center;
  // .buttom--container__logo

  // .buttom--container__menu

  &__menu {
    display: flex;
    gap: 65px;
    .Shop {
      a {
        color: #7fad39;
      }
    }
    li {
      font-size: 20px;

      a {
        font-weight: 700;
        color: black;
      }
      &:hover {
        a {
          color: #7fad39;
        }
      }
    }
  }

  // .buttom--container__item

  &__item {
    display: flex;
    gap: 20px;
    position: relative;
    span {
      width: 15px;
      height: 12px;
      background-color: #29bd13;
      border-radius: 50%;
      position: absolute;
      top: -4px;
      font-size: 11px;
      font-weight: 600;
      text-align: center;
      color: white;
      line-height: 12px;
    }
  }
}

.pages {
  position: relative;
  &:hover {
    .pages__none {
      visibility: visible;
      transform: scaleY(1);
      opacity: 1;
    }
  }
  // .pages__none
}

.pages__none {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 10px;
  left: 0;
  top: 130%;
  width: 150px;
  background-color: rgb(16, 16, 15);
  padding: 10px 10px;
  visibility: hidden;
  transform: scaleY(0);
  transition: 0.5s;
  opacity: 0;
  transform-origin: top;
  z-index: 2;
  li {
    a {
      color: white;
      font-weight: 300;
    }
    :hover {
      cursor: pointer;
      color: #44a52e;
    }
  }
}

.main {
  // .main__top

  &__top {
    width: 85%;
    margin: 0 auto;
  }

  // .main__container

  &__container {
    display: flex;
    gap: 30px;
  }

  // .main__container--left--categories

  &__container--left--categories {
    display: flex;
    gap: 20px;
    background: #7fad39;
    padding: 17px 20px 10px 40px;
    cursor: pointer;
    color: white;
    font-size: 13px;
    i {
      color: white;
    }
  }

  // .main__container--left--categories--1

  &__container--left--categories--1 {
    display: flex;
    gap: 10px;
  }

  // .main__container--left--categories--2

  &__container--left--categories--2 {
    i {
      font-size: 12px;
    }
  }
  &__container--left {
    position: relative;
  }

  // .main__container--left--category

  &__container--left--category {
    position: absolute;
    top: 88%;
    left: 0;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ebebeb;
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 12px;
    line-height: 35px;
    //
    transition: 0.8s;
    visibility: visible;
    transform: scaleY(1);
    opacity: 1;
    transform-origin: top;
    z-index: 3;
    li {
      &:hover {
        transform: translateX(25px);
        transition: 1s;
        width: max-content;

        a {
          color: #12c247;
          transition: 0.5s;
        }
      }
    }
    a {
      color: black;
    }
  }

  // .main__container--right

  &__container--right {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
  }

  // .main__container--right--top

  &__container--right--top {
    display: flex;
    gap: 20px;
    input {
      border: none;
    }
    button {
      font-size: 14px;
      color: #ffffff;
      font-weight: 800;
      text-transform: uppercase;
      display: inline-block;
      padding: 13px 30px 12px;
      background: #7fad39;
      border: none;
      cursor: pointer;
    }
  }

  // .main__container--right--top--serch

  &__container--right--top--serch {
    form {
      display: flex;
      gap: 20px;
      position: relative;
      width: 603px;
      padding: 9px;
      border: 1px solid #ebebeb;

      input {
        border: none;
        padding: 6px;
        outline: none;
        width: 58%;
      }
      button {
        display: inline-block;
        padding: 17px 0 12px;
        background: #7fad39;
        position: absolute;
        border: 1px solid #7fad39;
        right: -1px;
        top: -1px;
        width: 105px;
        // font-size: 13px;
        a {
          font-size: 14px;
          color: #ffffff;
          font-weight: 800;
          text-transform: uppercase;
        }
      }
    }
  }

  // .main__container--right--top--number

  &__container--right--top--number {
    display: flex;
    gap: 20px;
  }

  // .main__container--right--top--number--icon

  &__container--right--top--number--icon {
    height: 47px;
    width: 50px;
    background: #f5f5f5;
    line-height: 47px;
    text-align: center;
    border-radius: 50%;
    i {
      color: #7fad39;
    }
  }

  // .main__container--right--top--number--text

  &__container--right--top--number--text {
    display: flex;
    flex-direction: column;
    row-gap: 11px;
    h5 {
      font-size: 18px;
    }
    span {
      font-size: 13px;
    }
  }
}
.serch {
  // .serch__category

  &__category {
    display: flex;
    gap: 25px;
    align-items: center;
    &::after {
      content: "";
      width: 1px;
      height: 50%;
      background-color: #12c247;
    }
  }
}
.hidden {
  visibility: hidden;
  transform: scaleY(0);
  transition: 0.8s;
  opacity: 0;
  transform-origin: top;
}

.tomato-back {
  position: relative;
  margin: 30px 0;
  height: 150px;
  background: url("https://preview.colorlib.com/theme/ogani/img/breadcrumb.jpg.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  ul {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 25px;
    width: 100%;
    gap: 12px;
  }
  .tamato-link{
    display: flex;
    gap: 25px;
    font-size: 19px;
  }
  a{
    color: white;
    position: relative;
    font-weight: 900;
    &::after{
         position: absolute;
    right: -16px;
    top: 12px;
    height: 1.3px;
    width: 12px;
    background: #ffffff;
    content: "";
    }
  }
  h3{
    color: white;
    font-size: 35px;
  }
  span{
    color: white;
  }
}

.product {
margin-top: 70px;

  // .product__container

  &__container {
    width: 85%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 15px;
  }
}
.slidebar {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  // .slidebar__item

  &__item {
    h3{
      font-size: 28px;
      font-family: auto;
    }
    a{
      font-family: auto;
    font-weight: 400;
    }
    ul{
      margin-top: 15px;
    line-height: 40px;
    li{
      &:hover{
        cursor: pointer;
        transform: translateX(25px);
        transition: 1s;
        width: max-content;
        a{

          color: #29bd13;
        }
      }
      a{
        color: black;
      }
      
    }
    }
  }
}
.slidebar__price{
  height: 80px;
  width: 170px;

  border-radius: 10px;

}
.field{
position: relative;
display: flex;
align-items: center;
justify-content: center;
height: 100%;
input{
  -webkit-appearance: none;
  height: 3px;
  width: 100%;
  background: #ddd;
  border-radius: 5px;
  outline: none;
  border: none;
  &::-webkit-slider-thumb{
    -webkit-appearance: none;
height: 20px;
width: 20px;
background: #12c247;
border-radius: 50%;
border: 1px solid goldenrod;
cursor: pointer;
  }
}
}
.value{
  position: absolute;
  font-size: 18px;
  font-weight: 600;
  color: #44a52e;
  
}
.left{
  left: -22px;
}
.right{
  right: -43px;
}
.slideValue{
  position: relative;
  width: 100%;
 
}

.product--right {
  overflow: hidden;
}
.spanslide{
  position: absolute;
  height: 45px;
  width: 45px;
  // background: blue;
  color: white;
  top: -40px;
  left: 50%;
  transform: translateX(-50%) scale(0);
  transform-origin: bottom;
  transition: transform .3s ease-in-out;
  line-height: 55px;
  z-index: 2;
  &::after{
    position: absolute;
    content: ""; 
    height: 45px;
    width: 45px;
    background-color: #12c247;
    left: 35%;
    transform: translateX(-50%) rotate(45deg);
    border: 2px solid black;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    z-index: -1;
  }
  
}
.show{
  transform: translateX(-50%) scale(1);
}
.Prise--containe{
// margin-top: 50px;
h3{
  // margin-bottom: 40px;
  font-size: 25px;

}
}
.slidebar__color{
 width: 200px;
  &--items{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    row-gap: 15px;
    margin-top: 10px;
    li{
      display: flex;
      align-items: center;
      gap: 10px;
    }
    span{
      height: 14px;
      width: 14px;
      background: #222;
      border-radius: 50%;
      border: 1px solid black;
    }
    
  }

}
.white{
  span{
    background-color: white;
  }
  
}
.red{
  span{
    background: red;
  }
}
.blue{
  span{
    background: blue;
  }
}
.green{
  span{
    background: green;
  }
}
.gray{
  span{
    background: gray;
  }
}
.Popular {
}
.Popular--catecories {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  row-gap: 20px;
  li{
    width: max-content;
    height: 40px;
    padding: 10px 25px;
    text-align: center;
    background: #f5f5f5;
     cursor: pointer;
  }
  a{
    border: none;
   
    color: #6f6f6f;
  }
}

.swiper {
  max-width: 100%;
}



.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-button-prev::after{

  display: none;
}
.swiper-button-next::after{
  display: none;
}

.divmoney{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  color: #352727;
  span{
    text-decoration: line-through;
    color: #b2b2b2;
    font-size: 12px;
  }
}
.swiper-text{
  margin-bottom: 100px;
  span{
    font-size: 14px;
    color: #b2b2b2;
  }
  a{
    color: black;
  }
}
.swiper-pagination {
  span{
      height: 16px;
    width: 16px;
    border: 1px solid #b2b2b2;
    border-radius: 50%;
    margin-right: 12px;
  }

}

.swiper-slide{
  position: relative;
  ul{
    display: none;
    // display: flex;
    

    a{
    font-size: 16px;
    color: #1c1c1c;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid #ebebeb;
    background: #ffffff;
    display: block;
    border-radius: 50%;
    transition: all, 0.5s;
    &:hover{
      background-color: #12c247;
      animation: scale 0.8s 1;
      color: white;
      transform: scale(360deg);
      
    }
    }
  }
  &:hover{
    ul{
    bottom: 50%;
    left: 30px;
    display: flex;
    justify-content: center;
    gap: 30px;
    position: absolute;
    animation:positionTop 1s 1 ;
    }

    }
}
@keyframes scale {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.positionTop{

}
@keyframes positionTop {
  0%{
    opacity: 0;
    bottom: 35%;
    left: 30px;
  }100%{
    opacity: 1;
    bottom: 50%;
    left: 30px;
  }
  
}
.sale-div{
  height: 45px;
  width: 45px;
  background: #dd2222;
  border-radius: 50%;
  font-size: 14px;
  color: #ffffff;
  line-height: 45px;
  text-align: center;
  position: absolute;
  left: 15px;
  top: 15px;
}
.swiper-wrapper{
  &:active{
    cursor: grab;
  }
}
.sale--text{
  margin-bottom: 80px;
  width: max-content;

  
  h3{
    font-size: 40px;
position: relative;
    &::after{
      position: absolute;
      text-align: center;
      width: 100%;
      height: 5px;
      background: #7fad39;
      content: "";
      opacity: 1;
      left: 0;
      bottom: -10px;
    }

  }
}
.hr{
  margin-top: 15px;
  border: 1px solid #d7c3c3;
}

.sort {

  // .sort__text

  &__text {
    margin-top: 50px;
  }
}
.catecories-sort {
  display: flex;
  justify-content: space-between;

  // .catecories-sort__first

  &__first {
    font-family: auto;
    display: flex;
    gap: 15px;
    align-items: center;
    select{
      border: none;
    }
  }

  // .catecories-sort__found

  &__found {
    display: flex;
    gap: 10px;
    font-family: auto;
    align-items: center;
  }

  // .catecories-sort__icon-

  &__icon- {
    display: flex;
    gap: 15px;
  i{
      font-size: 20px;
    color: rgb(193, 162, 162);
  }
  
  }
}
.sort__galery{
  margin-top: 50px;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;

}
.filter-item {
  position: relative;
  img {
    width: 100%;
  }
  ul {
    display: none;
  }
  &:hover {
    ul {
      display: flex;
      position: absolute;
      animation: position 0.7s 1;
      bottom: 32%;
      left: 20%;
    }
  }
}
.filter__icons {
 position: absolute;
  display: flex;
  gap: 20px;
  li {
    font-size: 16px;
    color: #1c1c1c;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid #ebebeb;
    background: #ffffff;
    display: block;
    border-radius: 50%;
    &:hover {
      background-color: #12c247;

      transform: scale(360deg);
      i {
        color: white;
        animation: scale 0.8s 1;
      }
    }
  }
}
@keyframes scale {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes position {
  0% {
    bottom: 16%;
    opacity: 0;
  }
  100% {
    bottom: 32%;
    opacity: 1;
  }
}
.filter-text {
  
  line-height: 45px;
  h2 {
    font-size: 17px;
   
  }
  span {
    font-size: 25px;
    font-weight: 800;
  }
}



.carousel {
  position: relative;
  overflow: hidden;
  height: 500px;
  margin-top: 45px;
  &:active{
cursor: grab;
  }
  ul {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 1.4s;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
  li {
    display: flex;
    gap: 20px;
  }
}
.per-div {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  color: black;
  // justify-content: center;
  h5 {
    font-weight: 400;
    font-size: 16px;
  }
  span {
    font-weight: 900;
    font-size: 18px;
  }
}
.lts-texs {
  margin-top: 40px;
  display: flex;
  gap: 20px;
align-items: center;
  h3 {
    font-size: 1.4rem;
  }
}
.lts_button {
  display: flex;
  gap: 5px;
}
.lts {
  height: 30px;
  width: 30px;
  background: #f3f6fa;
  border: 1px solid #e6e6e6;
  font-size: 14px;
  
  margin-right: 10px;
  line-height: 30px;
  text-align: center;
  i{
    color: #636363;
    font-size: 16px;
  }
}
.pagination-button{
  margin-top: 40px;
  display: flex;
  gap: 18px;
  a{
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid #b2b2b2;
    font-size: 14px;
    color: #b2b2b2;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
    // margin-right: 16px;
    -webkit-transition: all, 0.3s;
    -moz-transition: all, 0.3s;
    -ms-transition: all, 0.3s;
    -o-transition: all, 0.3s;
    transition: all, 0.3s;
    i{
      color: #b2b2b2;
      font-size: 11px;
    }
    &:hover{
      background-color: #12c247;
      color: white;
      transition: 1s;
      i{
        color: white;
      }
    }
  }
}

.footer {
  margin-top: 50px;
  padding-bottom: 50px;
  background: #F3F6FA;
  padding-top: 50px;

  // .footer__container

  &__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 85%;
    margin: 0 auto;
  }

  // .footer__logo

  &__logo {
    ul {
      line-height: 30px;
    }
  }

  // .footer__logo-name

  &__logo-name {
    margin-bottom: 30px;
  }

  // .footer__widget

  &__widget {
    h3 {
      font-size: 23px;
      margin-bottom: 10px;
    }
  }

  // .footer__widget--ul

  &__widget--ul {
    display: flex;
    gap: 45px;
    line-height: 30px;

    li {
      &:hover {
        transform: translateX(25px);
        transition: 1s;
        a {
          color: #29bd13;
        }
      }
    }
    a {
      color: black;
    }
  }

  // .footer__right

  &__right {
    h3 {
      margin-bottom: 10px;
      font-size: 23px;
      margin-bottom: 10px;
    }
    p {
      line-height: 30px;
    }
    form {
      position: relative;
      margin: 30px 0;
      width: 100%;
      background-color: white;
      input {
        width: 64%;
        font-size: 16px;
        padding-left: 20px;
        color: #1c1c1c;
        height: 46px;
        // border: 1px solid #ededed;
      }
      button {
        position: absolute;
        right: 0;
        top: 0;
        padding: 0 26px;
        height: 100%;
        font-size: 14px;
        color: #ffffff;
        font-weight: 800;
        text-transform: uppercase;
        display: inline-block;
        // padding: 13px 30px 12px;
        background: #7fad39;
        border: none;
      }
    }
  }

  // .footer__right--social

  &__right--social {
    display: flex;
    gap: 20px;
    a {
      font-size: 16px;
      color: #1c1c1c;
      height: 40px;
      width: 40px;
      line-height: 40px;
      text-align: center;
      border: 1px solid #ebebeb;
      background: #ffffff;
      display: block;
      border-radius: 50%;
      &:hover{
        background-color: #12c247;
        i{
          transform: rotate(360deg);
          transition: 1s;
          color: white;
          
        }
      }
      i{
        font-size: 16px;

      }
    }
  }
}